// ! declare the colors
//* logo color
$logo-color: #6439ff;
// ?  sideBare
$bg-color: rebeccapurple;
$bg-hover: #ece8ff;

//? icons Colors
$icon-color: #7451f8;
$icon-color-alpha: #7551f844;
//? End Icons

// ?  colors Mode
$white-mode: whitesmoke;
$dark-mode: #333;
